*{
    margin: 0 auto;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100%;
}
.up{
    width: 100%;
    min-height: 100px;
    float: left;
    background:#0069FF;
    margin-bottom: 15px;
}
.left{
    width: 100%;
    min-height: 400px;
    float: left;
    background: #67A4FF;
}
.center{
    width: 100%;
    min-height: 400px;
    float: left;
    background: #A5A6AB;
}
.right{
    width: 100%;
    min-height: 400px;
    float: left;
    background: #67A4FF;
}
.down{
    width: 100%;
    min-height: 100px;
    float: left;
    background: #0069FF;
    margin-top: 15px;
}
@media only screen and (max-width: 768px)
{
    .cntr{
        padding: 0px;
    }
    .center{
        margin: 15px 0px;
    }
}